<a href="https://colab.research.google.com/github/halless4ndro/Python-Basico/blob/master/Fase3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Crie um algoritmo em Python que peça uma nota, entre zero e 100. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [ ]:
while True:
  try:
    x=float(input("Digite um número entre 0 e 100: "))
    if x>=0 and x<=100:
      break
    else:
      print("Valor inválido. Tente novamente")
  except:
    print("Isso nem parece um número. Tente novamente")

Digite um número entre 0 e 100: 105
Valor inválido. Tente novamente
Digite um número entre 0 e 100: oi
Isso nem parece um número. Tente novamente
Digite um número entre 0 e 100: 99

Crie um algoritmo em Python que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.<br>

In [ ]:
while True:
  usuario=input("Digite um nome de usuário: ")
  senha=input("Digite uma senha: ")
  if senha!=usuario:
    break
  else:
    print("Usuário e senha não podem ser iguais. Tente novamente.")

Digite um nome de usuário: usuario1
Digite uma senha: @#$

Crie um algoritmo em Python que leia e valide as seguintes informações:
* Nome: maior que 3 caracteres;
* Idade: entre 0 e 150;
* Salário: maior que zero;
* Sexo: 'f' ou 'm';
* Estado Civil: 's', 'c', 'v', 'd';

In [ ]:
dados=[]
while True:
  dados.append(input("Digite seu nome: "))
  if len(dados[0])>=3:
    break
  else:
    dados.pop()
    print("O nome deve possuir no mínimo 3 caracteres")
while True:
  try:
    dados.append(int(input("Digite sua idade: ")))
    if dados[1]>=0 and dados[1]<=150:
      break
    else:
      dados.pop()
      print("Valor inválido. Digite um valor entre 0 e 150")
  except:
    print("Valor inválido. Digite um valor inteiro entre 0 e 150")
while True:
  try:
    dados.append(float(input("Digite o valor de seu salário: ")))
    if dados[2]>=0:
      break
    else:
      dados.pop()
      print("O salário não pode ser negativo")
  except:
    print("Valor inválido. Tente Novamente")
sexos=["M","F","m","f"]
while True:
  dados.append(input("Digite seu sexo (ex: m, f): "))
  if dados[3] in sexos:
    break
  else:
    dados.pop()
    print("Valor inválido. Informe m para masculino e f para feminino.")
estados_civis=["s","S","c","C","d","D","v","V"]
while True:
  dados.append(input("Informe seu estado civil: "))
  if dados[4] in estados_civis:
    break
  else:
    dados.pop()
    print("Valor inválido. Informe s,c,d ou v para solteiro, casado, divorciado ou viúvo, repectivamente.")

print(f"Nome: {dados[0]}\nIdade: {dados[1]}\nSálario R$ {dados[2]:.2f}\nSexo: {dados[3]}\nEstado civil: {dados[4]}")

Digite seu nome: halle
Digite sua idade: 33
Digite o valor de seu salário: 10000
Digite seu sexo (ex: m, f): m
Informe seu estado civil: s
Nome: halle
Idade: 33
Sálario R$ 10000.00
Sexo: m
Estado civil: s

Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%.<br><br> Crie um algoritmo em Python que calcule e escreva o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

In [ ]:
populacao_A=80000
populacao_B=200000
txA=0.03
txB=0.015
anos=0
while True:
  anos+=1
  populacao_A*=1+txA
  populacao_B*=1+txB
  print(f"Ano {anos} - População A: {populacao_A:.0f}. População B: {populacao_B:.0f}.")
  if populacao_A>populacao_B:
    print(f"A população do País A ultrapassa a do País B em {anos} anos")
    break

Ano 1 - População A: 82400. População B: 203000.
Ano 2 - População A: 84872. População B: 206045.
Ano 3 - População A: 87418. População B: 209136.
Ano 4 - População A: 90041. População B: 212273.
Ano 5 - População A: 92742. População B: 215457.
Ano 6 - População A: 95524. População B: 218689.
Ano 7 - População A: 98390. População B: 221969.
Ano 8 - População A: 101342. População B: 225299.
Ano 9 - População A: 104382. População B: 228678.
Ano 10 - População A: 107513. População B: 232108.
Ano 11 - População A: 110739. População B: 235590.
Ano 12 - População A: 114061. População B: 239124.
Ano 13 - População A: 117483. População B: 242710.
Ano 14 - População A: 121007. População B: 246351.
Ano 15 - População A: 124637. População B: 250046.
Ano 16 - População A: 128377. População B: 253797.
Ano 17 - População A: 132228. População B: 257604.
Ano 18 - População A: 136195. População B: 261468.
Ano 19 - População A: 140280. População B: 265390.
Ano 20 - População A: 144489. População B: 269371.
Ano 21 - População A: 148824. População B: 273412.
Ano 22 - População A: 153288. População B: 277513.
Ano 23 - População A: 157887. População B: 281675.
Ano 24 - População A: 162624. População B: 285901.
Ano 25 - População A: 167502. População B: 290189.
Ano 26 - População A: 172527. População B: 294542.
Ano 27 - População A: 177703. População B: 298960.
Ano 28 - População A: 183034. População B: 303444.
Ano 29 - População A: 188525. População B: 307996.
Ano 30 - População A: 194181. População B: 312616.
Ano 31 - População A: 200006. População B: 317305.
Ano 32 - População A: 206007. População B: 322065.
Ano 33 - População A: 212187. População B: 326896.
Ano 34 - População A: 218552. População B: 331799.
Ano 35 - População A: 225109. População B: 336776.
Ano 36 - População A: 231862. População B: 341828.
Ano 37 - População A: 238818. População B: 346955.
Ano 38 - População A: 245983. População B: 352160.
Ano 39 - População A: 253362. População B: 357442.
Ano 40 - População A: 260963. População B: 362804.
Ano 41 - População A: 268792. População B: 368246.
Ano 42 - População A: 276856. População B: 373769.
Ano 43 - População A: 285161. População B: 379376.
Ano 44 - População A: 293716. População B: 385067.
Ano 45 - População A: 302528. População B: 390843.
Ano 46 - População A: 311603. População B: 396705.
Ano 47 - População A: 320952. População B: 402656.
Ano 48 - População A: 330580. População B: 408696.
Ano 49 - População A: 340498. População B: 414826.
Ano 50 - População A: 350712. População B: 421048.
Ano 51 - População A: 361234. População B: 427364.
Ano 52 - População A: 372071. População B: 433775.
Ano 53 - População A: 383233. População B: 440281.
Ano 54 - População A: 394730. População B: 446886.
Ano 55 - População A: 406572. População B: 453589.
Ano 56 - População A: 418769. População B: 460393.
Ano 57 - População A: 431332. População B: 467299.
Ano 58 - População A: 444272. População B: 474308.
Ano 59 - População A: 457600. População B: 481423.
Ano 60 - População A: 471328. População B: 488644.
Ano 61 - População A: 485468. População B: 495974.
Ano 62 - População A: 500032. População B: 503413.
Ano 63 - População A: 515033. População B: 510964.
A população do País A ultrapassa a do País B em 63 anos

Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:
Tabuada de 5:<br>
5 X 1 = 5<br>
5 X 2 = 10<br>
...<br>
5 X 10 = 50<br>

In [ ]:
while True:
  try:
    num=int(input("Você deseja a tabuada de qual número: "))
    if num>=0 and num<=10:
      for x in range(11):
        print(f"{num} X {x} = {num*x}")
      break
    else:
      print("Digite um valor entre 0 e 10. Tente novamente.")
  except:
    print("Digite um valor válido. Tente novamente.")

Você deseja a tabuada de qual número: oi
Digite um valor válido. Tente novamente.
Você deseja a tabuada de qual número: 1.7
Digite um valor válido. Tente novamente.
Você deseja a tabuada de qual número: 11
Digite um valor entre 0 e 10. Tente novamente.
Você deseja a tabuada de qual número: 9
9 X 0 = 0
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

Crie um algoritmo em Python que leia três números e mostre o maior e o menor deles.

In [ ]:
lista=[]
while True:
  try:
    lista.append(float(input("Digite um número: ")))
    if len(lista)==3:
      break
  except: 
    print("Valor inválido. Tente novamente.")
print(f"Os números digitados foram {lista[0]}, {lista[1]} e {lista[2]}.\nO maior deles é {max(lista)} e o menor é {min(lista)}")

Digite um número: 78
Digite um número: oi
Valor inválido. Tente novamente.
Digite um número: 1.7
Digite um número: -15
Os números digitados foram 78.0, 1.7 e -15.0.
O maior deles é 78.0 e o menor é -15.0

Crie um algoritmo em Python que peça 2 números, base e expoente, calcule e mostre o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.

In [ ]:
print("Cálcule a Potência")
while True:
  try:
    base=float(input("Digite a base da potência: "))
    potencia=float(input("Digite a potência: "))
  except:
    print("Valores inválidos. Informe os valores novamente")
  else:
    break

print(f"({base}) ^ ({potencia}) = {base**potencia}")

Cálcule a Potência
Digite a base da potência: 5
Digite a potência: -2
(5.0) ^ (-2.0) = 0.04

Crie um algoritmo em Python que peça 10 números inteiros, calcule e mostre a quantidade de números pares e a quantidade de números impares.

In [ ]:
lista=["primeiro","segundo","terceiro","quarto","quinto","sexto","sétimo","oitavo","nono","décimo"]
lista_num=[]
lista_pares=[]
lista_impares=[]
pos=0
while True:
  try:
    lista_num.append(int(input(f"Digite o {lista[pos]} número: ")))
    if len(lista_num)==10:
      break
  except:
    print("Valor inválido. Tente novamente")
  else:
    pos+=1
for i in range(10):
  if lista_num[i]%2==0:
    lista_pares.append(lista_num[i])
  else:
    lista_impares.append(lista_num[i])
print(f"Numeros digitados: {lista_num}\nNúmeros pares: {lista_pares}\nNúmeros Ímpares: {lista_impares}")

Digite o primeiro número: 1
Digite o segundo número: 2
Digite o terceiro número: 3
Digite o quarto número: 4
Digite o quinto número: 5
Digite o sexto número: 6
Digite o sétimo número: 7
Digite o oitavo número: 8
Digite o nono número: 9
Digite o décimo número: 10
Numeros digitados: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Números pares: [2, 4, 6, 8, 10]
Números Ímpares: [1, 3, 5, 7, 9]

Um funcionário de uma empresa recebe aumento salarial anualmente: Sabe-se que:
Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00;
Em 1996 recebeu aumento de 1,5% sobre seu salário inicial;
A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. Crie um algoritmo em Python que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário.

In [ ]:
while True:
  try:
    salario=float(input("Digite o valor inicial do salário: "))
    if salario>=0:
      break
  except:
    print("Isso não parece ser um salário. Digite um valor válido")
  else:
    print("Digite um valor positivo")
multiplicador=1
for i in range(1996,2021):
  salario*=1+multiplicador*0.015
  print(f"Ano {i} - salário R$ {salario:.2f}")
  multiplicador*=2

Digite o valor inicial do salário: oi
Isso não parece ser um salário. Digite um valor válido
Digite o valor inicial do salário: -1000
Digite um valor positivo
Digite o valor inicial do salário: 1000
Ano 1996 - salário R$ 1015.00
Ano 1997 - salário R$ 1045.45
Ano 1998 - salário R$ 1108.18
Ano 1999 - salário R$ 1241.16
Ano 2000 - salário R$ 1539.04
Ano 2001 - salário R$ 2277.77
Ano 2002 - salário R$ 4464.44
Ano 2003 - salário R$ 13036.15
Ano 2004 - salário R$ 63094.98
Ano 2005 - salário R$ 547664.47
Ano 2006 - salário R$ 8959790.69
Ano 2007 - salário R$ 284204560.82
Ano 2008 - salário R$ 17745732777.31
Ano 2009 - salário R$ 2198341376453.00
Ano 2010 - salário R$ 542462718053542.06
Ano 2011 - salário R$ 267173737895730528.00
Ano 2012 - salário R$ 262909645038914666496.00
Ano 2013 - salário R$ 517164304563148244910080.00
Ano 2014 - salário R$ 2034089956135592080204365824.00
Ano 2015 - salário R$ 15998768413792394281488683630592.00
Ano 2016 - salário R$ 251654867592325396987276632919113728.00
Ano 2017 - salário R$ 7916629288082298418272104051247446753280.00
Ano 2018 - salário R$ 498079164972099073044506102424224350991286272.00
Ano 2019 - salário R$ 62673361097939015974588452007553794415875760062464.00
Ano 2020 - salário R$ 15772330422152896713036863368953619989314421505159856128.00

Crie um algoritmo em Python com uma função que necessite de um argumento. A função retorna o valor de caractere ‘P’, se seu argumento for positivo, e ‘N’, se seu argumento for zero ou negativo.

In [ ]:
def positividade(num):
  if num>0:
    return "P"
  else:
    return "N"

print(positividade(5))
print(positividade(0))

P
N

Construa uma função que receba uma data no formato DD/MM/AAAA e devolva uma string no formato D de mesPorExtenso de AAAA. Opcionalmente, valide a data e retorne NULL caso a data seja inválida.

In [ ]:
def conversão(data):
  if len(data)!=10:
    return None
  if data[2]!="/" or data[5]!="/":
    return None
  if not (str.isnumeric(data[0:2]) and str.isnumeric(data[3:5]) and str.isnumeric(data[6:])):
    return None
  dia=int(data[0])*10+int(data[1])
  mês=int(data[3])*10+int(data[4])
  ano=int(data[6])*1000+int(data[7])*100+int(data[8])*10+int(data[9])
  bissexto=False
  if ano%4==0:
    bissexto=True
  if mês>12:
    return None
  if dia>31:
    return None
  if (mês==2 or mês==4 or mês==6 or mês==9 or mês==11) and dia==31:
    return None
  if mês==2 and dia==30:
    return None
  if mês==2 and dia==29 and bissexto==False:
    return None
  meses=["janeiro","fevereiro","março","abril","maio","junho","julho","agosto","setembro","outubro","novembro","dezembro"]
  if ano<1000:
    return f"{dia} de {meses[mês-1]} do ano {ano}"
  else:
    return f"{dia} de {meses[mês-1]} de {ano}"

print(conversão("abcdefghij")) 
print(conversão("abcdefghijk"))
print(conversão("1234567890"))
print(conversão("10/11@1986"))
print(conversão("10/11/1986"))
print(conversão("10/13/1986"))
print(conversão("32/11/1986"))
print(conversão("29/02/1988"))
print(conversão("29/02/1987"))
print(conversão("31/04/1987"))
print(conversão("01/01/0100"))

None
None
None
None
10 de novembro de 1986
None
None
29 de fevereiro de 1988
None
None
1 de janeiro do ano 100

Crie uma classe que modele uma pessoa:<br>

Atributos: nome, idade, peso e altura<br>
Métodos: Envelhercer, engordar, emagrecer, crescer.<br>
<br>Obs: Por padrão, a cada ano que nossa pessoa envelhece, sendo a idade dela menor que 21 anos, ela deve crescer 0,5 cm.

In [25]:
class Pessoa:
  def __init__(self,nome,idade,peso,altura):
    self.nome=nome
    self.idade=idade
    self.peso=peso
    self.altura=altura
  def engordar(self,engordar):
    self.peso+=engordar
  def emagrecer(self,emagrecer):
    self.peso-=emagrecer
  def crescer(self,crescer):
    self.altura+=crescer
  def envelhecer(self,envelhecer):
    if self.idade<21:
      if self.idade+envelhecer<21:
        self.crescer(envelher*0.5)
      else:
        self.crescer((self.idade+envelhecer-21)*0.5)
    self.idade+=envelhecer